html {
    background-color: #1d0d44;
}

body {
    background-color: #1d0d44;
}

p {
    padding: 10px;
    text-align: center;
    letter-spacing: 3px;
}

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #1d0d44;
    text-align: center;
    color: wheat;
}

.navbar {
    margin-bottom: 0;
}

.customHeader {
    border: none;
    border-bottom: 2px;
    background-color: #1d0d44;
}

.customButton {
    color: wheat;
}

.account {
    margin-bottom: 10px;
    text-align: center;
    background: #e6e6e6;
    color: #1d0d44;
    height: auto;
    outline: none;
}

.myAccount {
    display: inline-block;
    margin-top: 20px;
    height: auto;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.account:hover {
    background: #1d0d44;
    color: wheat;
}

.wrap-home {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 33px 95px 33px 95px;
}

.login100-form {
    margin: auto;
}

.topUp:hover {
    background: #e6e6e6;
    color: #1d0d44;
    outline: none;
}

.homeButton {
    width: 32%;
    text-align: center;
}

.customWrap {
    justify-content: center;
}

.customTopUp {
    background-color: #1d0d44;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px
}

@media (max-width: 992px) {
    .wrap-home {
        padding: 33px 90px 33px 85px;
    }
}

@media (max-width: 768px) {
    .wrap-home {
        padding: 33px 80px 33px 80px;
    }

    .homeButton {
        width: 51%;
        margin-bottom: 5px;
        margin-left: 24%;
    }
}

@media (max-width: 576px) {
    .wrap-home {
        padding: 33px 15px 33px 15px;
    }

    .homeButton {
        width: 51%;
        margin-bottom: 5px;
        margin-left: 24%;
    }
}

@media (max-width: 410px) {
    .homeButton {
        width: 60%;
        margin-bottom: 5px;
        margin-left: 20%;
    }

    .account {
        font-size: 13px;
    }
}

img {
    margin: 15px;
    padding: 15px;
}

h2 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

h3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes example {
    0% {
        background-color: red;
        left: 0%
    }
    50% {
        background-color: blue;
        left: 50%
    }
    100% {
        background-color: red;
        left: 0%
    }
}

@keyframes example {
    0% {
        background-color: red;
        left: 0%;
    }
    50% {
        background-color: blue;
        left: 50%
    }
    100% {
        background-color: red;
        left: 0%
    }
}

h4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes example {
    0% {
        background-color: red;
        left: 50%
    }
    50% {
        background-color: blue;
        left: 98%
    }
    100% {
        background-color: red;
        left: 50%
    }
}

@keyframes example {
    0% {
        background-color: red;
        left: 50%;
    }
    50% {
        background-color: blue;
        left: 98%
    }
    100% {
        background-color: red;
        left: 50%
    }
}

h5 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes example {
    0% {
        background-color: red;
        left: 0%
    }
    50% {
        background-color: blue;
        left: 98%
    }
    100% {
        background-color: red;
        left: 0%
    }
}

@keyframes example {
    0% {
        background-color: red;
        left: 0%;
    }
    50% {
        background-color: blue;
        left: 98%
    }
    100% {
        background-color: red;
        left: 0%
    }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}